.header {
	padding: 16px 30px 18px 30px;
	display: flex;
	justify-content: space-between;
	max-height: 134px;
	position: relative;
}

// SERVICES S
.header__services {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 592px;
	@media (max-width: $md2) {
		display: none;
	}
	margin: 0 30px 0 30px;
}
.services__head-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.services__search {
	padding: 10.5px 0 30px 10px;
	width: 356px;
	height: 30px;
	background: #f7f7f7;
	border-radius: 8px;
	input {
		background: none;
		line-height: 150%;
	}
}

.services__footer-section {
}
.services-link__arrow {
	display: none;
}
@media (max-width: $md1) {
	.services-link__arrow {
		display: inline-block;
		position: absolute;
		top: 3px;
		right: -20px;
		transform: rotate(180deg);
		cursor: pointer;
	}

	.services-link__arrow-active {
		transform: rotate(0);
	}
}

.services-links {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	justify-content: space-between;
	white-space: nowrap;
	a {
		color: black;
	}
}
.services-link {
	position: relative;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
// ==============================

// CONTACTS S
.header__contacts {
	width: 520px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 1.5em;
	row-gap: 1.5em;
	white-space: nowrap;
	@media (max-width: $md1) {
		display: none;
	}
}

.contacts__adaptive {
	width: 80%;
	display: none;
	margin: 0 auto;
}
@media (max-width: $md1) {
	.contacts__adaptive-active {
		display: grid;
		position: absolute;
		background: white;
		z-index: 11;
		padding: 0 0 3% 25%;
	}
}
.contacts__info-link {
}
.contacts__phone {
	vertical-align: bottom;
	line-height: 140%;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: black;
}
.contatcs__btn {
	width: 149px;
	height: 36px;
}
.contacts__social-media {
	display: flex;
	justify-content: space-between;
}
.social-media {
}
.social-media__link {
}
// =================================
