.main {
	padding: 50px 5px 0 5px;
}
.intro {
	width: 100%;
	display: flex;
	justify-content: space-between;
	@media (max-width: $md1) {
		flex-direction: column;
		align-items: center;
	}
}
.intro__img-block {
	margin-left: -4.1%;

	position: relative;
}
.intro__img {
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	img {
		width: 645px;
		height: 746px;
		@media (max-width: $md1) {
			width: 545px;
			height: 646px;
		}
	}
}

// INTRO HEXAGONS ========================
.intro__hexagon {
	position: absolute;
	color: #ea5800;
	mix-blend-mode: hard-light;
	z-index: 10;
}
.intro__hegaxon1 {
	top: 230px;
	left: 270px;
	font-size: 140px;
}
.intro__hegaxon2 {
	top: 365px;
	left: 250px;
	font-size: 260px;
}
.intro__hegaxon3 {
	top: 485px;
	left: 485px;
	font-size: 100px;
}
.intro__hegaxon4 {
	top: 570px;
	left: 415px;
	font-size: 150px;
}
.intro__hegaxon5 {
	top: 470px;
	left: -85px;
	font-size: 200px;
	z-index: 0;
	color: #ea5800;
}
.intro__hegaxonBack {
	top: -50px;
	left: -500px;
	font-size: 850px;
	z-index: -1;
	mix-blend-mode: normal;
	color: #f7f7f7;
}
// ==================================================
.intro__form {
	max-width: 520px;
}
.intro__form-title {
	padding-top: 40px;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	margin-bottom: 19px;
	@media (max-width: $md1) {
		padding-top: 100px;
	}
	@media (max-width: $md4) {
		padding: 40px 5px 0 5px;
		font-size: 30px;
		padding-top: 100px;
	}
}
.intro__form-subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 104px;
	max-width: 380px;
	@media (max-width: $md4) {
		padding: 0 5px 0 5px;
	}
}
.intro__form-user-data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1em;
	@media (max-width: $md4) {
		grid-template-columns: 1fr;
		padding-left: 3%;
	}
}
.form-info {
	width: 180px;
	height: 39px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	input {
		padding-top: 10px;
		background: none;
		text-align: center;
		&::-webkit-input-placeholder {
			color: black;
		}
	}
}
.form-info-phone {
	text-align: start;
}

.intro__form-btn {
	width: 180px;
	height: 40px;
	background: #ea5800;
	border-radius: 8px;
}
.form-info-accept {
	width: 170px;
	height: 30px;
	font-weight: 500;
	font-size: 8px;
	line-height: 10px;
}
.intro__form-slide-bar {
	display: flex;
}
.slide-bar__hexagon {
	margin-top: 104px;
	line-height: 30px;
	letter-spacing: 20px;
	&:first-child {
		color: #ea5800;
		font-size: 20px;
	}
	@media (max-width: $md4) {
		padding-left: 3%;
	}
}

// MODULES ==================================
.intro__modules {
	max-width: 330px;
}
.intro__modules-list {
	width: 330px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	column-gap: 15%;
	row-gap: 3%;
}
.intro__module {
	max-width: 140px;
	text-align: center;
}
.intro__module-hexagon {
	position: relative;
	width: 140px;
	height: 160px;
	font-size: 160px;
	line-height: 120%;
	color: #f7f7f7;
	margin-bottom: 20px;

	img {
		position: absolute;
		top: 50px;
		left: 40px;
	}
}
.intro__module-text {
}
.intro__modules-btn {
	margin-top: 20%;
	width: 100%;
	height: 50px;
	font-size: 18px;
	line-height: 22px;
}

// ACCESS SECTION======================
.main__access-section {
	padding: 25% 0 25% 0;
	max-width: 1000px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	@media (max-width: $md2) {
		padding: 10% 0 10% 0;
		flex-direction: column;
		height: 550px;
	}
}
.access-section__hexagons {
	position: relative;
	@media (max-width: $md2) {
		left: 0;
		width: 700px;
	}
}
// ACCESS HEAGONS===============
.access-section__hexagon {
	position: absolute;
	font-size: 300px;
	mix-blend-mode: hard-light;
}
.access-section__hegaxon1 {
	left: 100px;
	color: #cccccc34;
}
.access-section__hegaxon2 {
	left: 200px;
	color: rgba(190, 190, 190, 0.418);
}
.access-section__hegaxon3 {
	left: 300px;
	color: #f58d16ce;
	position: relative;
	img {
		position: absolute;
		top: 90px;
		left: 0;
	}
}
// ================================
.access-section__btn {
	width: 382px;
	height: 50px;
	font-size: 18px;
	line-height: 22px;
}

// ====================================
