//==============<Подключение шрифтов>==========================

//==============<Подключение шрифтов>==========================

//==============<Шрифт по умолчанию>===========================
$fontfamily: "Montserrat", sans-serif;
//==============<Шрифт по умолчанию>===========================

//==========<Переменные>==========================
//$minwidth: ;
//$mw: ;
//====<BRAKEPOINTS>=======
$md1: 1413.98px;
$md2: 999.98px;
$md3: 767.98px;
$md4: 479.98px;
$md5: 319.98px;

//====<BRAKEPOINTS>=======

//==========<Переменные>==========================

//==============<ОБОЛОЧКА>=======================
.wrapper {
    font-family: $fontfamily;
    overflow: hidden;
}
//==============<ОБОЛОЧКА>=======================

//==========<Основная сетка>======================
.container {
    margin: 0 auto;
    max-width: 1578px;
    @media (max-width: $md1) {
        max-width: 1300px;
    }
    @media (max-width: $md2) {
        max-width: 900px;
    }
}
//==========<Основная сетка>======================
// ===========<Тех. класс для адаптива картинок>=========
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
// =================================>
